In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_csv('dataset_preprocessing_raw.csv', na_values=['#','-'])

In [36]:
df.head(50)

,name,age,gender,join_date,last_purchase,total_spend,country,email,notes,join_daten
0,24.0,24.0,24,24.0,24.0,24.0,24.0,24.0,24.0,24.0
1,Budi,24.0,0,20-05-10,2023-11-15,250.000,Indonesia,budi@@mail.com,NaN,2020-05-10 00:00:00
2,Agus,24.0,0,19-07-21,2024-01-12,1.200.000,indo,agus@mail.com,sering complaint,2019-07-21 00:00:00
3,Wati Wati,25.0,1,20-08-01,NaN,-50000,Singapore,wati@mail,pembayaran bermasalah,2020-08-01 00:00:00
4,Andi,24.0,0,22-12-01,2023-14-01,"350,000",Indonesia,andi@@mail.com,NaN,2022-12-01 00:00:00
5,24.0,24.0,24,24.0,24.0,24.0,24.0,24.0,24.0,24.0
6,Dede,22.0,2,NaN,2023-10-05,NaN,Malaysia,dede@mail_com,customer baru,NaT
7,24.0,24.0,24,24.0,24.0,24.0,24.0,24.0,24.0,24.0
8,24.0,24.0,24,24.0,24.0,24.0,24.0,24.0,24.0,24.0
9,Rina,24.0,1,23-03-01,NaN,400000,Indon,rina@mail,email tidak lengkap,2023-03-01 00:00:00

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    10 non-null     int64
 1   name           10 non-null     object
 2   age            8 non-null      float64
 3   gender         10 non-null     object
 4   join_date      10 non-null     object
 5   last_purchase  8 non-null      object
 6   total_spend    9 non-null      object
 7   country        10 non-null     object
 8   email          10 non-null     object
 9   notes          8 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 932.0+ bytes

In [28]:
df = df.drop(['customer_id'], axis=1)

In [29]:
df['name'] = df['name'].replace('Joko#', 'Joko')
df['name'] = df['name'].str.title()

In [30]:
df['age'] = df['age'].replace(200, np.nan)
med = df['age'].median()
df['age'] = df['age'].fillna(med)

In [31]:
df['gender'] = df['gender'].map({'F':1, 'female':1, 'f':1, 'FEMALE':1, 'F':1, 'Male':0, 'M':0, '?':2})

In [32]:
df['join_daten'] = pd.to_datetime(df['join_date'], errors='coerce')
df['join_date'] = df['join_daten'].dt.strftime('%y-%m-%d')

C:\Users\le\AppData\Local\Temp\ipykernel_8580\3757146612.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['join_daten'] = pd.to_datetime(df['join_date'], errors='coerce')

In [35]:
# ga efektif kalo datasetnya kecil pake z score aja

medi = df['age'].median()
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)

IQR = Q3 - Q1

atas = Q1 + 1.5 * IQR
bawah = Q3 - 1.5 * IQR

df.loc[(df['age'] < bawah) | (df['age'] > atas)] = med

C:\Users\le\AppData\Local\Temp\ipykernel_8580\1972890209.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '24.0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.loc[(df['age'] < bawah) | (df['age'] > atas)] = med

In [ ]:
# harusnya si pake z scroe

# men = df['age'].mean()
# sted = df['age'].std()

# df['age'] =  (df['age'] - men) / sted

In [ ]:
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)

IQR = Q3 - Q1

atas = Q3 + 1.5 * IQR
bawah = Q1 - 1.5 * IQR