In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# df = pd.read_csv('iot_sensor_raw.csv')

In [9]:
df = pd.read_csv('iot_sensor_raw.csv', sep=',', quotechar='"', parse_dates=['timestamp'], na_values=["", '-', ",", 'error'], dayfirst=True)

In [16]:
df.head(15)

,timestamp,sensor_id,temperature,humidity,status,location,battery_voltage,active
0,2024-01-01 10:00,sensor_A,29.5,80.0,OK,indor,12.3,True
1,2024-01-01 10:05,sensor A,-5.0,82.0,ok,indoor,12.8,True
2,2024-01-01 10:10,Sensor_B,NaN,120.0,NaN,outdor,13.1,False
3,2024-13-01 10:15,sensor_B,31.2,85.0,OK,outdoor,13.2,False
4,2024-01-01 XX:20,sensor_C,200.0,70.0,warning,indor,11.9,True
5,202x-01-01 10:25,sensor#C,NaN,NaN,OK,indoor,14.1,NaN
6,2024-01-01 10:30,SENSOR_C,27.8,-10.0,ok,indoor,13.9,True
7,2024/01/01 10:35,sensor_D,28.1,90.0,OK,indoorr,13.5,False
8,2024-01-01 10:40,sensor-D,NaN,88.0,ok,outdoor,13.1,False

In [11]:
# fix timestmap

df['timestamp'] =

SyntaxError: invalid syntax (2430108135.py, line 3)

In [12]:
df['battery_voltage'] = (
    df['battery_voltage']
    .astype(str)           
    .str.replace('"', '')  
    .str.replace(',', '.') 
    .replace(['nan', 'None', ''], np.nan)
)
df['battery_voltage'] = pd.to_numeric(df['battery_voltage'], errors='coerce')

In [13]:
df = df.drop(index=9)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        9 non-null      object
 1   sensor_id        9 non-null      object
 2   temperature      6 non-null      float64
 3   humidity         8 non-null      float64
 4   status           8 non-null      object
 5   location         9 non-null      object
 6   battery_voltage  7 non-null      float64
 7   active           8 non-null      object
dtypes: float64(3), object(5)
memory usage: 708.0+ bytes

In [15]:
df['battery_voltage'] = df['battery_voltage'].replace('-', np.nan)
df['battery_voltage'] = df['battery_voltage'].fillna(df['battery_voltage'].mean())